* {
    font-family: "M PLUS 1", sans-serif;
}

nav {
    background-color: #211F2A;
}

a.activo {
    color: #00E18E;
}

a.inactivo {
    color: #646075;
}

.hero .row {
    align-items: center;
}

.hero {
    background-color: #211F2A;
    color: white;
}

hr {
    height: 3px;
    background-color: #00E18E;
    border: none;
    opacity: 1;
    width: 50px;
}

a {
    text-decoration: none;
}

button {
    border-radius: 36px;
}

button.hablemos {
    background-color: #00E18E;
}

button.hablemos a {
    color: #211F2A;
}

button.mi-cv {
    background-color: #211F2A;
    border: solid #00E18E 2px;
}

button.mi-cv a {
    color: white;
}

.habilidades {
    background-color: #19171F;
    color: #646075;
}

.servicios, .herramientas, .contacto {
    background-color: #211F2A;
}

.servicios .card {
    background-color: #2E2C39;
    color: white;
}

.card {
    border: #383740 solid 2px;
    border-radius: 20px;
}

.card p {
    color: #9D99B0;
}

.servicios .card img {
    width: 64px;
}

h2 {
    color: white;
}

button.ver-mas {
    background-color: #00E18E;
}

button.ver-mas a {
    color: #211F2A;
}

.experiencia, .portafolio {
    background-color: #19171F;
}

.experiencia .card {
    background-color: #211F2A;
    color: white;
}

.experiencia .card img {
    width: 60px;
}

.exp-item {
    background-color: #19171F;
    border-radius: 16px;
}

.herramientas .card {
    background-color: #2E2C39;
    color: white;
}

.card-herramienta {
    border-radius: 200px;
}

.portafolio .card {
    background-color: #211F2A;
    color: white;
}

.imagen-portafolio-1, .imagen-portafolio-2, .imagen-portafolio-3, .imagen-portafolio-4 {
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.imagen-portafolio-1 {
    background-image: url("../images/folou.png");
}

.imagen-portafolio-2 {
    background-image: url("../images/museo-app.png");
}

.imagen-portafolio-3 {
    background-image: url("../images/cduc.png");
}

.imagen-portafolio-4 {
    background-image: url("../images/unoia.png");
}

.etiqueta {
    background-color: #00E18E;
    color: #19171F;
}

.proyecto a {
    color: #00E18E;
}

.proyecto i {
    color: white;
}

.contacto .logo-antonio-contacto {
    width: 200px;
}

.contacto{
    color: white;
}

.contacto p {
    color: #9D99B0;
}

.contacto ul {
    list-style-type: none;
    padding: 0;
}

.contacto i {
    color: #00E18E;
}

.contacto a {
    color: white;
}

input, textarea {
    border: solid #383740 2px !important;
    background-color: #2E2C39 !important;
    color: white !important;
}

footer {
    background-color: #19171F;
    color: white;
}
